body{
    background-color:#50290d;
}

.outer{
    margin: 10em 25em;
    background-color: #B8860B;
    padding: 5px 10px 10px 0;
    border-radius: 0 20px 20px 0;
}

.inner{
    background-color: #000033;
    color: #B8860B;
    text-align: center;
    border-radius: 0 20px 20px 0;
    padding: 100px 0;
    height: 150px;
}

button{
    background-color: #B8860B;
    border-radius: 15px;
}